:root,
:root[data-theme="dark"] {
    --primary-color: #ebebeb;
    /* color = texto */
    --primary-bg: #1d1d1d;
    /* bg = fundo */
    --hover-menu: #898989;
    --icon-color: #169adc;
    --icone-tema: #d7b21e;
    --cor-titulo: #169adc;
    --cor-texto: black;
    --titulo-accordion: #e8e8e8;
    --body-accordion: #1d1d1d;
    --menu-social: #e8e8e8;
}


:root[data-theme="light"] {
    --primary-color: #1d1d1d;
    --primary-bg: #ebebeb;
    --hover-menu: #898989;
    --titulo-accordion: #161616;
    --body-accordion: #ececec;
    --menu-social: #1d1d1d;
}

body {
    background: var(--primary-bg);
    /* fundo */
    color: var(--primary-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 22px;
}

html[data-theme="light"] .logo {
    filter: invert(0);
}

/* alterando a cor do logo após ficar claro ou escuro */

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--hover-menu)
}

i {
    color: var(--icon-color);
}

p,
span,
li {
    font-size: 1rem;
}

p {
    text-align: justify;
}

/* Reset CSS  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* fim reset  */

/* header  */
#header {
    display: flex;
    flex-flow: row wrap;
    /* Coloca o conteúdo em linha e permite a quebra de linha. */
    justify-content: space-between;
    /* Os itens dentro do container flexível serão distribuídos de maneira uniforme ao longo do eixo principal, com espaços iguais entre eles.  */
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    z-index: 2;
    background: var(--primary-bg);
}

/* .header-logo .logo */
.logo {
    /* img */
    width: 9rem;
    /* comprimento */
    height: 9rem;
    /* altura  */
}

.header-toggle {
    display: flex;
    justify-content: flex-end;
}

#toggleTheme {
    color: var(--icone-tema);
    font-size: 2rem;
    cursor: pointer;
}

.menu {
    /* UL */
    display: flex;
    align-items: center;
    background: var(--primary-bg);
    gap: 1rem;
}

.menu-item {
    width: 100%;
}

/* .menu-link {
    display: flex;
    align-items: center;
    gap: .5rem; 
} */

.header-nav {
    display: none;
}


/* Menu Mobile */

.menu-mobile {
    width: 100vw;
    /*V W = Viewport Width */
    position: fixed;
    bottom: 0;
    justify-content: space-between;
    border-top: 1px solid red;
    z-index: 99999;
}

.menu-mobile .menu-link {
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem 1rem;
}

.menu-link.active .menu-icon,
/* definir a cor do icone, esses links mostrarão as cores so quando passar o mouse por cima.*/
.menu-link.active .menu-text,
.menu-link:hover .menu-icon,
/* Passar o mouse por cima e aparece cor */
.menu-link:hover .menu-text {
    color: #169adc;
    /* cor de link */
}

.menu-icon,
.menu-text {
    color: var(--primary-color);
    font-weight: 600;
}

.menu-icon {
    font-size: 1.5rem;
}


.menu-text {
    font-size: 0.75rem;
    text-transform: uppercase;
    /* aqui é para ser caixa alta
     */
}

.menu-principal {
    gap: 2rem;
    /* deixa espaçamento entre os menus/icones. Nos elementos em geral. */
}

.menu-social {
    gap: 2rem;
}

.menu-social .menu-insta {
    color: var(--primary-color);
}

.menu-social .menu-insta:hover {
    color: orange;
}

.menu-social .menu-linkedin {
    color: var(--primary-color);
}

.menu-social .menu-linkedin:hover {
    color: #169adc;
}

.menu-social .menu-whatsapp {
    color: var(--primary-color);
}

.menu-social .menu-whatsapp:hover {
    color: greenyellow
}

.menu-social .menu-github {
    color: var(--primary-color);
}

.menu-social .menu-github:hover {
    color: purple;
}

.btn {
    /* aqui estou personalizando o botão do "ver projetos" */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background: transparent;
    border-radius: 3rem;
    color: var(--primary-color);
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    /* width: 100%; */
}

.btn:hover {
    transform: scale(1.05);
    transition: ease-in-out 0.5;
    /* aq demora um tempo para dar um zoom no botão. */
}

.btn span,
.btn i {
    font-size: 1rem;
    text-transform: uppercase;
}

.btn-primary span {
    color: var(--primary-color);
}

.btn-primary {
    border: 3px solid var(--icon-color);
}

/* main */
#home {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

#home .main-content h1 {
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}

.video iframe {
    width: 100%;
    aspect-ratio: 16/9;
    /* comprimento por altura */
}

#home,
.projetos,
.sobre,
.contato {
    padding: 2.5rem 1rem;
}

/* Responsividade 
Responsivo
*/

/* projetos */
.projetos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.projetos-container {
    display: flex;
    flex-direction: column;
    gap: 4rem;


}

.projeto-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-cover {
    /* imagens de projetos */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 1rem;

}

.card-title {
    /* o card title está se referindo ao h3 */
    /* titulo das fotos */
    font-size: 2rem;
    color: var(--cor-titulo);
    font-weight: 100;

}

.card-descricao {
    color: var(--cor-texto);
    /* font-size: ;
    font-family: ; */
}

.card-lista,
.sobre-lista {

    margin-left: 1.25rem;
    /* margem para a esquerda */
    margin-top: 15px;
    margin-bottom: 25px;
}

.card-item,
.sobre-item {

    list-style: disc;
    /* personaliza lista ou add icones na frente das lista */
    margin-top: 5px;
}

.bi-ps {
    margin-left: -1rem;
    color: var(--cor-titulo);
    /* aqui eu alterei a cor do icone do playstation, tive que adicionar o bi-ps no html quando fui inserir o icone do ps */

}

.bi-ni {
    color: red;
    margin-left: -1rem;
}

.bi-x {
    color: greenyellow;
    margin-left: -1rem;
}

.bi-b {
    color: yellow;
    margin-left: -1rem;
}

.bi-l {
    color: goldenrod;
    margin-left: -1rem;
}

.bi-h {
    color: gray;
    margin-left: -1rem;
}

.card-button,
.card-descricao {

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.card-button .btn {
    padding: .65rem 1.25rem;
    margin-top: 15px;
}

.card-button .btn span {
    font-size: 1rem;
}



.projetos .btn {
    width: auto;
    margin: auto;
}

/* Sobre */

.sobre {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sobre-logo {
    width: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 50rem;
    border: 8px solid var(--primary-color);
}


.sobre-descricao {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.5rem;
}

.sobre-icones {
    display: flex;
    align-items: center;
    gap: 1.25rem;
}

.sobre-conteudo1,
.sobre-conteudo2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
}

.sobre-conteudo2 .col1,
.sobre-conteudo2 .col2 {
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 2rem;
}

.sobre-conteudo2 .col1 .row1,
.sobre-conteudo2 .col1 .row2 {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.accordion-header1 {
    width: 100%;
    display: flex;
    padding: 0.75rem 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--primary-color);
    background: transparent;
    text-align: left;
    cursor: pointer;
    transition: ease-in-out.3s;
}

.accordion-header1 span {
    color: var(--titulo-accordion);
}

.accordion-body1 {
    display: none;
    padding: 1.25rem;
    /* serve para a escrita não ficar na borda da imagem */
    flex-direction: column;
    align-items: flex-start;
    gap: .625rem;
    border: 1px solid var(--primary-color);
}

.accordion-item.active .accordion-header1 {
    background: var(--body-accordion);
}

.accordion-item.active .accordion-body1 {
    display: flex;
}

.accordion-item.active .bi-caret-down-fill {
    transform: rotate(180deg);
}

/* Contato */

.contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-top: 1px solid var(--menu-social);
    /* variavel borda */
    border-bottom: 1px solid var(--menu-social);
    /* variavel borda */
}

.contato p {
    font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  align-items: center;
}

.contato .btn {
    width: auto;
    /* Correção */
}

.contato .email {
    text-transform: uppercase;
}
/* roda Pé == FOOTER */
footer { /* Não tem ponto porque não é classe */
margin-bottom: 5rem;
}
footer p {
font-size: .875rem;
text-align: center;
padding: 1rem;
}
footer a {
    color:#169adc ;
}


/* responsividade aqui */
@media (min-width: 768px) {

    /* min widht é a partir de 768 que ele irá funcionar */
    #header {
        position: fixed;
        padding: 1rem 6rem;
    }

    .nav-mobile {
        display: none;
    }

    .header-nav {
        display: flex;
    }

    .header-nav,
    .header-toggle {
        min-width: 30%;
        /*  aqui está recuando a logo */
    }


    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3rem;
    }


    #home,
    .projetos,
    .sobre,
    .contato {
        padding: 8rem 6rem 4rem 6rem;
    }

    .contato {
        padding: 6rem;
    }
}

/* fim do 768px */

@media (min-width: 992px) {

    /*apartir de 992 */
    .projeto-card {
        flex-direction: row;
    }

    .card-reverse {
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .card-cover {
        width: 55%;
    }

    .sobre {
        gap: 5rem;
    }

    .sobre-conteudo1,
    .sobre-conteudo2 {
        display: grid;
        grid-template-columns: 40% 60%;
    }


}


/* fim 992px */

@media(min-width: 1200px) {

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    #home {
        padding: 10rem 6rem 2rem;
    }

    .main-content .btn {
        width: auto;
    }

    p,
    span,
    li {
        /* padronizando todos texto de p, span e lista */
        font-size: 1.15rem;
    }

    .card-button .btn,
    .descricao-button .btn {
        width: auto;
    }
}

/*  fim 1200px  */

@media (min-width: 1400px) {
    h1 {
        font-size: 6.25rem;
    }

    h2 {
        font-size: 4.5rem;
    }

    h3 {
        font-size: 3.25rem;
    }

    .header {
        padding: 12rem 15rem 2rem;
    }

    .projetos,
    .sobre,
    .contato {
        padding: 10rem 15rem 4rem;
    }
}